:root {
  --blue: #3b8be4;
  --indigo: #6610f2;
  --purple: #703c87;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-light: #dcdcdc;
  --gray-dark: #343a40;
  --primary: var(--purple);
  --secondary: #6c757d;
  --success: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);
  --light: #f0f0f0;
  --dark: #3c3c3c;
  --gray-base: #000;
  --gray-darker: #222;
  --gray-dark: #333;
  --gray: #555;
  --gray-light: #777;
  --gray-lighter: #eee;
  --text-color: var(--gray-dark);
  --text-muted: var(--gray-light);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}


body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--white);
  color: var(--text-color);
  margin: 200px 50px;
}
